.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

.error-message {
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

